.Tile {
  background-size: contain;
  background-color: #eee;
  border: none;
  height: 100%;
  position: relative;
  width: 100%;
}

.connector {
  position: absolute;
  border: 1px solid grey;
}

.connector.x {
  background: blue;
  height: 2vh;
  top: 0;
  width: 5vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.connector.y {
  background: red;
  bottom: 0;
  height: 2vh;
  left: 50%;
  width: 5vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.connector.i {
  background: yellow;
  height: 5vh;
  left: 0;
  width: 2vh;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.connector.j {
  background: green;
  height: 5vh;
  right: 0;
  width: 2vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.label {
  background-color: #eee;
  font-size: 1rem;
  padding: 0.05rem;
  text-transform: capitalize;
}
